# Compiled output
/dist
/out-tsc

# Node
/node_modules

# Editors
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Angular build cache
/.angular/cache

# System files
.DS_Store
Thumbs.db
